/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* start ======= hero part */
.hero {
    margin: 0rem 7rem;
}
.hero-text {
    float: left;
    /* width: 45%; */
    margin: 12rem 0rem;
}
.hero-image {
    float: right;
    /* width: 55%; */
}

.hero-image img {
    width: 100%;
}

.hero-text h1 {
    color: #575757;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    letter-spacing: -0.02rem;

    padding-bottom: 2rem;
}

.hero-text h1 span {
    /* background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%); */
    background: linear-gradient(88.33deg, #b34ffb -7.64%, #ff1ece 145.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
}

.hero-text p {
    color: #828282;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02rem;
}

.my-btn {
    border: none;
    padding: 24px 32px;
    font-weight: 600;
    font-size: 18px;
    color: white;
    cursor: pointer;

    background: linear-gradient(88.33deg, #b34ffb -7.64%, #ff1ece 145.94%);
    box-shadow: 2px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
}


/* rwd */
/* todo: change the margin top in mobile responsive */